{% use 'form_div_layout.html.twig' %}

{# General #}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {{- parent() -}}
{%- endblock form_row -%}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(widget_class|default('mt-1 w-full')) ~ (disabled ? ' ' ~ widget_disabled_class|default('border-gray-300 text-gray-500')) ~ (errors|length ? ' ' ~ widget_errors_class|default('border-red-700')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block label label-text')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_help -%}
    {%- set help_attr = help_attr|merge({ class: help_attr.class|default(help_class|default('mt-1 label-text')) }) -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{# Checkbox #}

{%- block checkbox_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('form-control')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="label cursor-pointer gap-2 w-fit">
            {{- form_widget(form, widget_attr) -}}
            {{- form_label(form) -}}
        </div>
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('checkbox checkbox-primary') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{# Choice #}

{%- block choice_widget -%}
    {%- set widget_class = widget_class|default('select select-bordered w-full max-w-xs') -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({ class: attr.class|default('mt-2') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center">
                {{- form_widget(child) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{# File #}

{% block file_widget %}
    {%- set widget_class = widget_class|default('file-input file-input-bordered file-input-primary w-full max-w-xs') -%}
    {{- block('form_widget') -}}
{% endblock %}

{# Radio #}

{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('mr-2') -%}
    {{- parent() -}}
{%- endblock radio_widget -%}

{# Text #}

{%- block email_widget -%}
    {%- set widget_class = widget_class|default('input input-bordered w-full max-w-xs') -%}
    {{- parent() -}}
{%- endblock email_widget -%}

{%- block password_widget -%}
    {%- set widget_class = widget_class|default('input input-bordered w-full max-w-xs') -%}
    {{- parent() -}}
{%- endblock password_widget -%}

{%- block text_widget -%}
    {%- set widget_class = widget_class|default('input input-bordered w-full max-w-xs') -%}
    {{ block('form_widget') }}
{%- endblock text_widget -%}

{%- block textarea_widget -%}
    {%- set widget_class = widget_class|default('textarea textarea-bordered w-full') -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block vich_file_row -%}
    {%- set force_error = true -%}
    {{- form_label(form, null, { label_attr: { for: form.file.vars.id }|merge(form.vars.label_attr) }) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    {%- if form.delete is defined -%}
        {{- form_row(form.delete) -}}
    {%- endif -%}
    {%- if download_uri -%}
        <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
            {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
        </a>
    {%- endif -%}
    {{ block("form_help") }}
{%- endblock -%}

{%- block vich_file_widget -%}
    {{- form_widget(form.file, { attr }) -}}
{%- endblock -%}

{%- block vich_image_row -%}
    {%- set force_error = true -%}
    {{- form_label(form, null, { label_attr: { for: form.file.vars.id }|merge(form.vars.label_attr) }) -}}
    {{- form_widget(form.file) -}}
    {{- form_errors(form) -}}
    {%- if form.delete is defined -%}
        {{- form_row(form.delete) -}}
    {%- endif -%}
    {%- if image_uri -%}
        <a class="flex justify-center items-center" href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
            {{
                component(
                    "image",
                    {
                        src: image_uri,
                        class: image_class,
                        filter: image_imagine_filter,
                        alt: translation_domain is same as(false) ? image_alt : image_alt|trans({}, translation_domain),
                        width: image_width,
                        height: image_height
                    }
                )
            }}
        </a>
    {%- endif -%}
    {{ block("form_help") }}
{%- endblock -%}

{%- block vich_image_widget -%}
    {{- form_widget(form.file, { attr }) -}}
{%- endblock -%}

{% block dropzone_widget %}
    {%- set dataController = (attr['data-controller']|default('') ~ ' symfony--ux-dropzone--dropzone')|trim -%}
    {%- set attr = attr|merge({ 'data-controller': '', class: (attr.class|default('') ~ ' dropzone-input')|trim}) -%}

    <div class="dropzone-container | !border-[hsl(var(--bc)/0.2)] rounded-lg" data-controller="{{ dataController }}">
        <input type="file" {{ block('widget_attributes') }} data-symfony--ux-dropzone--dropzone-target="input" />

        <div class="dropzone-placeholder" data-symfony--ux-dropzone--dropzone-target="placeholder">
            {%- if attr.placeholder is defined and attr.placeholder is not none -%}
                {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
            {%- endif -%}
        </div>

        <div class="dropzone-preview" data-symfony--ux-dropzone--dropzone-target="preview" style="display: none">
            <button class="dropzone-preview-button" type="button"
                    data-symfony--ux-dropzone--dropzone-target="previewClearButton"></button>

            <div class="dropzone-preview-image" style="display: none"
                data-symfony--ux-dropzone--dropzone-target="previewImage"></div>

            <div data-symfony--ux-dropzone--dropzone-target="previewFilename" class="dropzone-preview-filename"></div>
        </div>
    </div>
{% endblock %}
