{% use '@Flowbite/form/default.html.twig' %}

{# Choice #}

{%- block choice_widget -%}
    {%- set widget_class = widget_class|default('') -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({ class: attr.class|default('mt-2') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center">
                {{- form_widget(child) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{# Text #}

{%- block password_widget -%}
    {%- set widget_class = widget_class|default('pr-10 w-full') -%}
    {%- set type = type|default('password') -%}
    {%- set attr = attr|merge({ "data-password-visibility-target": "input", spellcheck: "false" }) -%}
    <div class="relative" {{ stimulus_controller("password-visibility") }}>
        {{ block('form_widget_simple') }}
        <button
            class="absolute inset-y-0 right-0 flex items-center pr-3"
            type="button"
            data-action="password-visibility#toggle"
            aria-label="{{ "common.show_password"|trans }}"
        >
            {{ component('icon', { icon: 'eye', class: 'h-5 w-5' }) }}
            {{ component('icon', { icon: 'eye_slash', class: "hidden h-5 w-5" }) }}
        </button>
    </div>
{%- endblock password_widget -%}

{%- block vich_file_row -%}
    {%- set force_error = true -%}
    {{- form_label(form, null, { label_attr: { for: form.file.vars.id }|merge(form.vars.label_attr) }) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    <div class="mt-2">
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}
    </div>
    {%- if download_uri -%}
        <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
            {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
        </a>
    {%- endif -%}
    {{ block("form_help") }}
{%- endblock -%}

{%- block vich_file_widget -%}
    {{- form_widget(form.file, { attr }) -}}
{%- endblock -%}

{%- block vich_image_row -%}
    {%- set force_error = true -%}
    {{- form_label(form, null, { label_attr: { for: form.file.vars.id }|merge(form.vars.label_attr) }) -}}
    {{- form_widget(form.file) -}}
    {{- form_errors(form) -}}
    <div class="mt-2">
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}
    </div>
    {%- if image_uri -%}
        <a class="flex justify-center items-center" href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
            {{
                component(
                    "image",
                    {
                        src: image_uri,
                        class: image_class,
                        filter: image_imagine_filter,
                        alt: translation_domain is same as(false) ? image_alt : image_alt|trans({}, translation_domain),
                        width: image_width,
                        height: image_height
                    }
                )
            }}
        </a>
    {%- endif -%}
    {{ block("form_help") }}
{%- endblock -%}

{%- block vich_image_widget -%}
    {{- form_widget(form.file, { attr }) -}}
{%- endblock -%}

{% block dropzone_widget %}
    {%- set dataController = (attr['data-controller']|default('') ~ ' symfony--ux-dropzone--dropzone')|trim -%}
    {%- set attr = attr|merge({ 'data-controller': '', class: (attr.class|default('') ~ ' dropzone-input')|trim}) -%}

    <div class="dropzone-container | !border-[hsl(var(--bc)/0.2)] rounded-lg" data-controller="{{ dataController }}">
        <input type="file" {{ block('widget_attributes') }} data-symfony--ux-dropzone--dropzone-target="input" />

        <div class="dropzone-placeholder" data-symfony--ux-dropzone--dropzone-target="placeholder">
            {%- if attr.placeholder is defined and attr.placeholder is not none -%}
                {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
            {%- endif -%}
        </div>

        <div class="dropzone-preview" data-symfony--ux-dropzone--dropzone-target="preview" style="display: none">
            <button class="dropzone-preview-button" type="button"
                    data-symfony--ux-dropzone--dropzone-target="previewClearButton"></button>

            <div class="dropzone-preview-image" style="display: none"
                data-symfony--ux-dropzone--dropzone-target="previewImage"></div>

            <div data-symfony--ux-dropzone--dropzone-target="previewFilename" class="dropzone-preview-filename"></div>
        </div>
    </div>
{% endblock %}

{% block class_input_error %}!border-red-500{% endblock %}

{% block editor_widget %}
    <div
        {{ stimulus_controller('editor') }}
        data-action="editor:editor:change->editor#save"
        data-editor-options-value="{{ options|json_encode() }}"

    >
        <div data-editor-target="editor"></div>
        <input id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" data-editor-target="input" type="hidden" />
    </div>
{% endblock %}
