{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block description %}
    Admin - {{ "common.user"|trans }}
{% endblock %}

{% block title %}
    Admin - {{ "common.user"|trans }}
{% endblock %}

{% block main_title %}
    Admin - {{ "common.user"|trans }}
{% endblock %}

{% block main_body %}
    <div class="flex gap-2">
        {{ knp_menu_render('back_office', { template: knp_custom_menu }) }}
        {{ component('table', { config }) }}
    </div>

    <div class="flex mx-auto">
        {{ knp_pagination_render(config.pagination, 'knp_custom/paginator.html.twig') }}
    </div>
{% endblock %}
