{% extends "admin/layout.html.twig" %}

{% block title %}
    Admin - User
{% endblock %}

{% block main_title %}
    Admin - User
{% endblock %}

{% block main_body %}
    <div class="flex gap-2">
        {{ knp_menu_render('backoffice', { template: knp_custom_menu }) }}
        {{ component('table', { config }) }}
    </div>

    <div class="flex mx-auto">
        {{ knp_pagination_render(config.pagination, 'knp_custom/paginator.html.twig') }}
    </div>

    <a href="{{ path("security_logout") }}">
        {{ component('button', { content: "common.logout"|trans }) }}
    </a>
{% endblock %}
