{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.login.title"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.login.title"|trans }}
{% endblock %}

{% block main_body %}
    <form method="post" class="mx-auto flex max-w-xs grow flex-col justify-center">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
        <div class="flex flex-col">
            {% if error %}
                <div class="alert alert-error mt-8 max-w-xs" role="alert">
                    {{ error.messageKey|trans(error.messageData, "security") }}
                </div>
            {% endif %}

            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-6">
                    <div class="form-control">
                        <label for="inputEmail" class="label"><span class="label-text">{{ "user.email"|trans }}</span></label>
                        <input type="email" value="{{ last_username }}" name="_email" id="inputEmail" class="input-bordered input w-80 max-w-xs" autocomplete="email" required autofocus />
                    </div>
                    <div class="form-control">
                        <label for="inputPassword" class="label"><span class="label-text">{{ "user.password"|trans }}</span></label>
                        <input type="password" name="_password" id="inputPassword" class="input-bordered input w-80 max-w-xs" autocomplete="current-password" required />
                    </div>
                    <a class="link-secondary link" href="{{ path("app_forgot_password_request") }}">{{ "page.login.forgot_password"|trans }}</a>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="form-control">
                        <label class="label w-fit cursor-pointer gap-2">
                            <input type="checkbox" name="_remember_me" class="checkbox-primary checkbox" />
                            <span class="label-text">{{ "page.login.remember_me"|trans }}</span>
                        </label>
                    </div>
                    {{ component("button", { content: "common.login"|trans, submit: true }) }}
                </div>
            </div>
        </div>
        <a class="link-secondary link mt-5 block text-center" href="{{ path("app_register") }}">{{ "page.login.no_account"|trans }}</a>
    </form>
{% endblock %}
