{% extends "knp_menu.html.twig" %}

{% block spanElement %}
    {% import "knp_menu.html.twig" as knp_menu %}
    {% set label = item.label|trans(item.extra("translation_params") ?? {}, item.extra("translation_domain") ?? "menu") %}

    <p {{ knp_menu.attributes(item.labelAttributes|merge({ "aria-label": label })) }} tabindex="0">
        {{ block("label") }}
    </p>
{% endblock %}

{% block linkElement %}
    {% import "knp_menu.html.twig" as knp_menu %}
    {% set label = item.label|trans(item.extra("translation_params") ?? {}, item.extra("translation_domain") ?? "menu") %}

    <a href="{{ item.uri }}" {{ knp_menu.attributes(item.linkAttributes|merge({ "aria-label": label })) }}>{{ block("label") }}</a>
{% endblock %}

{% block label %}
    {% if item.extra("icon") %}
        {{ component('icon', { icon: item.extra("icon") }) }}
    {% endif %}

    <span class="{{ item.extra("label_class") ?? "hidden md:block" }}">
        {% if options.allow_safe_labels and item.getExtra("safe_label", false) %}
            {{ label|sanitize_html }}
        {% else %}
            {{ label }}
        {% endif %}
    </span>
{% endblock %}
