{% if pageCount > 1 %}
    <div class="pagination btn-group rounded-lg bg-base-300">
        {% if first is defined and current != first %}
            <a class="btn border-transparent bg-transparent" href="{{ path(route, query|merge({ (pageParameterName): first })) }}">«</a>
        {% endif %}

        {% if previous is defined %}
            <a class="btn border-transparent bg-transparent" href="{{ path(route, query|merge({ (pageParameterName): previous })) }}">&#8249;</a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="btn border-transparent bg-transparent" href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a>
            {% else %}
                <span class="btn-active btn">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a class="btn border-transparent bg-transparent" href="{{ path(route, query|merge({ (pageParameterName): next })) }}">&#8250;</a>
        {% endif %}

        {% if last is defined and current != last %}
            <a class="btn border-transparent bg-transparent" href="{{ path(route, query|merge({ (pageParameterName): last })) }}">»</a>
        {% endif %}
    </div>
{% endif %}
