{% if pageCount > 1 %}
    <div class="btn-group mx-auto">
        {% if first is defined and current != first %}
            <a class="btn" data-turbo-frame="table_crud" href="{{ path(route, query|merge({ (pageParameterName): first })) }}" aria-label="{{ "common.first_page"|trans({ number: first }) }}">
                {% include "icon/chevron_double_left.html.twig" %}
            </a>
        {% endif %}

        {% if previous is defined %}
            <a class="btn rounded-none"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): previous })) }}"
                aria-label="{{ "common.previous_page"|trans({ number: previous }) }}">
                {% include "icon/chevron_left.html.twig" %}
            </a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="btn rounded-none"
                    data-turbo-frame="table_crud"
                    href="{{ path(route, query|merge({ (pageParameterName): page })) }}"
                    aria-label="{{ "common.page_number"|trans({ number: page }) }}">
                    {{ page }}
                </a>
            {% else %}
                <span class="btn-active btn rounded-none" aria-label="{{ "common.current_page"|trans({ number: page }) }}">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a class="btn rounded-none"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): next })) }}"
                aria-label="{{ "common.next_page"|trans({ number: next }) }}">
                {% include "icon/chevron_right.html.twig" %}
            </a>
        {% endif %}

        {% if last is defined and current != last %}
            <a class="btn" data-turbo-frame="table_crud" href="{{ path(route, query|merge({ (pageParameterName): last })) }}" aria-label="{{ "common.last_page"|trans({ number: last }) }}">
                {% include "icon/chevron_double_right.html.twig" %}
            </a>
        {% endif %}
    </div>
{% endif %}
