{% if pageCount > 1 %}
    <div class="btn-group mx-auto">
        {% if first is defined and current != first %}
            <a class="hover:opacity-25"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): first })) }}"
                aria-label="{{ "common.first_page"|trans({ number: first }) }}"
            >
                {{ component('icon', { icon: 'chevron_double_left' }) }}
            </a>
        {% endif %}

        {% if previous is defined %}
            <a class="rounded-none hover:opacity-25"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): previous })) }}"
                aria-label="{{ "common.previous_page"|trans({ number: previous }) }}"
            >
                {{ component('icon', { icon: 'chevron_left' }) }}
            </a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="rounded-none hover:opacity-25"
                    data-turbo-frame="table_crud"
                    href="{{ path(route, query|merge({ (pageParameterName): page })) }}"
                    aria-label="{{ "common.page_number"|trans({ number: page }) }}"
                >
                    {{ page }}
                </a>
            {% else %}
                <span class="rounded-none" aria-label="{{ "common.current_page"|trans({ number: page }) }}">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a class="rounded-none hover:opacity-25"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): next })) }}"
                aria-label="{{ "common.next_page"|trans({ number: next }) }}"
            >
                {{ component('icon', { icon: 'chevron_right' }) }}
            </a>
        {% endif %}

        {% if last is defined and current != last %}
            <a class="hover:opacity-25"
                data-turbo-frame="table_crud"
                href="{{ path(route, query|merge({ (pageParameterName): last })) }}"
                aria-label="{{ "common.last_page"|trans({ number: last }) }}">
                {{ component('icon', { icon: 'chevron_double_right' }) }}
            </a>
        {% endif %}
    </div>
{% endif %}
