{% extends "layout.html.twig" %}

{% block title %}
    Reset your password
{% endblock %}

{% block main_title %}
    Reset your password
{% endblock %}

{% block main_body %}
    <div class="flex flex-col items-center">
        {% for flash_error in app.flashes("reset_password_error") %}
            <div class="alert-danger alert" role="alert">
                {{ flash_error }}
            </div>
        {% endfor %}

        {{ form_start(requestForm) }}

        <div class="mx-auto w-fit">
            {{ form_row(requestForm.email) }}
        </div>

        <div class="flex flex-col items-center gap-2">
            <small>Enter your email address and we will send you a link to reset your password.</small>
            {{ component("button", { content: "Send password reset email" }) }}
        </div>

        {{ form_end(requestForm) }}
    </div>
{% endblock %}
