{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.request_password.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.request_password.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.request_password.title"|trans }}
{% endblock %}

{% block main_body %}
    <div class="flex grow flex-col items-center justify-center">
        {% for flash_error in app.flashes("reset_password_error") %}
            <div class="alert-danger alert" role="alert">
                {{ flash_error }}
            </div>
        {% endfor %}

        {{ form_start(requestForm) }}

        <div class="mx-auto w-fit">
            {{ form_row(requestForm.email) }}
        </div>

        <div class="flex flex-col items-center gap-2">
            <small>{{ "page.request_password.enter_your_email"|trans }}</small>
            {{ component("button", { content: "page.request_password.send"|trans, submit: true }) }}
        </div>

        {{ form_end(requestForm) }}
    </div>
{% endblock %}
