{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.reset_password.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.reset_password.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.reset_password.title"|trans }}
{% endblock %}

{% block main_body %}
    <div class="flex grow flex-col items-center justify-center">
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        {{ component("button", { content: "page.reset_password.reset"|trans, submit: true }) }}
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
