{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block main_body %}
    <section class="flex grow items-center justify-center gap-8">
        {% if app.user %}
            <a href="{{ path("admin_homepage") }}">{{ component("button", { content: "Admin" }) }}</a>
            <span>OR</span>
            <a href="{{ path("security_logout") }}">{{ component("button", { content: "Logout" }) }}</a>
        {% else %}
            <a href="{{ path("security_login") }}">{{ component("button", { content: "Login" }) }}</a>
            <span>OR</span>
            <a href="{{ path("app_register") }}">{{ component("button", { content: "Register" }) }}</a>
        {% endif %}
    </section>
{% endblock %}
