{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.search.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.search.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.search.title"|trans }}
{% endblock %}

{% block main_body %}
    <form action="{{ path("app_search") }}" method="get" class="form-control" data-turbo-frame="search-results" {{ stimulus_controller("search") }}>
        <div class="input-group">
            <input value="{{ search.query ?? "" }}"
                type="text"
                name="q"
                placeholder="{{ "common.search"|trans }}..."
                class="input-bordered input w-full"
                aria-label="{{ "common.search"|trans }}"
                data-action="input->search#submit" />

            {{ component("button", { icon: "search", square: true, submit: true }) }}
        </div>

        <turbo-frame data-turbo-action="advance" id="search-results">
            <span class="label-text-alt">{{ "page.search.result_time"|trans({ hits: search.totalHits, time: search.processingTimeMs }) }}</span>

            {% set menuItem = knp_menu_get("global_search", [], { query: search.query ?? "" }) %}
            {{ knp_menu_render(menuItem, { currentAsLink: false, template: knp_custom_menu }) }}

            {% if search %}
                <div class="flex flex-col gap-6">
                    {% for hit in search.hits %}
                        {% set profile = hit._formatted %}

                        <a href="{{ path("app_profile_show", { slug: profile.slug }) }}">
                            <div class="card bg-base-200 shadow-lg transition-all hover:-translate-y-1 hover:bg-base-300 hover:shadow-xl">
                                <div class="card-body">
                                    <h2 class="card-title gap-0">
                                        {{ profile.username|sanitize_html("app.highlight_sanitizer") }}
                                    </h2>
                                    <p>
                                        {{ (profile.description ?? "")|sanitize_html }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <p>
                            {{ "page.search.no_result"|trans }}
                        </p>
                    {% endfor %}

                    {{ component("pagination", {
                        path: {
                            pageParam: 'p',
                            params: { q: search.query, type },
                            route: 'app_search'
                        },
                        page: search.page,
                        pages: search.totalPages
                    }) }}
                </div>
            {% else %}
                <p>
                    {{ "page.search.type_to_search"|trans }}
                </p>
                {% if app.user %}
                    <p>
                        {{ "page.search.search_username"|trans({ username: app.user.profile.username }) }}
                    </p>
                {% endif %}
            {% endif %}
        </turbo-frame>
    </form>
{% endblock %}
