<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}" {{ stimulus_controller('theme') }}>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block icon %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </head>
    <body>
        <div class="drawer">
            <input id="mobile-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                {% block flashes %}
                    <div class="fixed top-2 left-2 right-2 z-10 ml-auto flex max-w-lg flex-col gap-2">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                {{ component("alert", { message, type }) }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block nav %}
                    <nav class="navbar bg-base-100">
                        <div class="navbar-start">
                            <div class="form-control hidden lg:block">
                                <div class="input-group">
                                    <input type="text" placeholder="Search…" class="input-bordered input" aria-label="{{ "common.search"|trans }}" />

                                    {{ component('button', { icon: 'search', square: true }) }}
                                </div>
                            </div>
                        </div>
                        <div class="navbar-center">
                            <a href="{{ path("app_homepage") }}">
                                {{ component('button', { content: 'MyApp', class: 'text-xl normal-case', ghost: true }) }}
                            </a>
                        </div>
                        <div class="navbar-end">
                            {% set mode = app.request.cookies.get('theme_mode') ?? 'light' %}
                            {% set isLight = 'light' in mode %}
                            <a href="{{ path('app_change_theme', { mode }) }}">
                                <label class="swap swap-rotate swap-active">
                                    <svg data-theme-target="light" class="{{ isLight ? 'swap-on' : 'swap-off' }} fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                                    <svg data-theme-target="dark" class="{{ isLight ? 'swap-off' : 'swap-on' }} fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                                </label>
                            </a>
                            <div>
                            </div>
                            {% component dropdown %}
                                {% block button %}
                                    {{ component('button', { content: app.request.locale|locale_name(app.request.locale), class: 'mr-2' }) }}
                                {% endblock %}

                                {% block items %}
                                    {% for locale in enabled_locales %}
                                        <li>
                                            <a href="{{ path(app.current_route, app.current_route_parameters|merge({ _locale: locale })) }}">
                                                {{ locale|locale_name(app.request.locale) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endblock %}
                            {% endcomponent %}

                            {% if app.user %}
                                {% component dropdown %}
                                    {% block button %}
                                        <button aria-label={{ "common.user_options"|trans }} class="btn-ghost btn-circle btn">
                                            {{ component('avatar', { user: app.user }) }}
                                        </button>
                                    {% endblock %}

                                    {% block items %}
                                        <li><a tabindex="0" href="{{ path("app_profile_show", { slug: app.user.profile.slug }) }}">Profile</a></li>
                                        <li><a tabindex="0" href="{{ path("app_edit_profile") }}">Settings</a></li>
                                        <li><a tabindex="0" href="{{ path("security_logout") }}">Logout</a></li>
                                    {% endblock %}
                                {% endcomponent %}
                            {% else %}
                                {% component dropdown %}
                                    {% block button %}
                                        <button aria-label={{ "common.user_options"|trans }} class="btn-ghost btn-circle btn">
                                            {{ component('avatar') }}
                                        </button>
                                    {% endblock %}

                                    {% block items %}
                                        <li><a tabindex="0" href="{{ path("security_login") }}">{{ "common.login"|trans }}</a></li>
                                        <li><a tabindex="0" href="{{ path("app_register") }}">{{ "common.register"|trans }}</a></li>
                                    {% endblock %}
                                {% endcomponent %}
                            {% endif %}
                        </div>
                    </nav>
                {% endblock %}

                {% block main %}
                    <main class="container mx-auto flex grow flex-col gap-8 py-8">
                        {% if block('main_title') %}
                            <h1 class="text-center text-4xl">
                                {% block main_title %}{% endblock %}
                            </h1>
                        {% endif %}
                        {% block main_body %}{% endblock %}
                    </main>
                {% endblock %}

                {% block footer %}
                    <footer class="footer bg-base-300 p-10 text-base-content">
                        <div>
                            <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current">
                                <path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
                            </svg>
                            <p>{{ "common.app_name"|trans }} - {{ "now"|date("Y") }}</p>
                        </div>
                        <div>
                            <span class="footer-title">{{ "common.app_name"|trans }}</span>
                            <a class="link-hover link" href="{{ path("app_about_us") }}">{{ "page.about_us.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_contact") }}">{{ "page.contact.title"|trans }}</a>
                        </div>
                        <div>
                            <span class="footer-title">{{ "common.legal"|trans }}</span>
                            <a class="link-hover link" href="{{ path("app_terms_of_use") }}">{{ "page.terms_of_use.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_privacy_policy") }}">{{ "page.privacy_policy.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_cookie_policy") }}">{{ "page.cookie_policy.title"|trans }}</a>
                        </div>
                    </footer>
                {% endblock %}
            </div>

            {# Mobile menu button #}
            <label for="mobile-drawer" class="btn-primary drawer-button btn absolute top-2 left-2 shadow-lg lg:hidden">
                {% include "icon/menu.html.twig" %}
            </label>

            {# Drawer content #}
            <div class="drawer-side">
                <label for="mobile-drawer" class="drawer-overlay"></label>
                <div class="menu w-80 bg-base-100 p-4 text-base-content">
                    <div class="form-control">
                        <div class="input-group">
                            <input type="text" placeholder="Search…" class="input-bordered input w-0 grow" aria-label="{{ "common.search"|trans }}" />
                            {{ component('button', { icon: 'search', square: true }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
