{% set themeMode = app.request.cookies.get('theme_mode') ?? 'light' %}
{% set isLight = 'light' in themeMode %}

<!DOCTYPE html>
<html
    class="{{ isLight ? 'light' : 'dark' }}"
    data-theme="{{ isLight ? 'light' : 'dark' }}"
    lang="{{ app.request.locale ?? app.request.defaultLocale }}"
    {{ stimulus_controller('theme') }}
    data-theme-dark-mode-class="dark"
    data-theme-light-mode-class="light"
    data-theme-uri-value="{{ url("app_change_theme") }}"
>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% apply spaceless %}
                {% block title %}
                    {{ 'common.app_name'|trans }}
                {% endblock %}
            {% endapply %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{% apply spaceless %}{% block description %}{{ 'common.description'|trans }}{% endblock %}{% endapply %}">
        {% block icon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% endblock %}
        {% block meta %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </head>
    <body class="bg-base-200">
        <div class="drawer">
            <input id="mobile-drawer" type="checkbox" class="drawer-toggle" aria-label="{{ "common.menu"|trans }}" />
            <div class="drawer-content flex flex-col">
                {% block flashes %}
                    <div id="app-flashes" class="fixed bottom-3 left-2 right-2 z-[1000] mr-auto flex max-w-lg flex-col gap-2 transition-all">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                {{ component("alert", { message, type }) }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block nav %}
                    <nav class="navbar bg-primary">
                        <div class="navbar-start gap-2">
                            <div
                                id="global-search"
                                class="form-control hidden lg:block"
                                {{ stimulus_controller("class-modal") }}
                                data-class-modal-visible-class="modal-open"
                            >
                                <form action="{{ path("app_search") }}" method="get">
                                    <div class="input-group">
                                        <input type="search"
                                            name="q"
                                            placeholder="{{ "common.search"|trans }}..."
                                            class="input-bordered input"
                                            aria-label="{{ "common.search"|trans }}"
                                            data-action="mousedown->class-modal#open:prevent" />

                                        <div class="tooltip tooltip-bottom" data-tip="{{ 'common.global_search'|trans }}">
                                            {{ component("button", { icon: "search", square: true, submit: true, class: "bg-base-100 hover:bg-base-300 border-base-100 hover:border-base-300 border-l-0 text-primary dark:text-base-content -ml-1 rounded-l-none", ariaLabel: "common.global_search"|trans }) }}
                                        </div>
                                    </div>
                                </form>
                                <form action="{{ path("app_search") }}" method="get">
                                    <div class="modal" role="dialog" data-class-modal-target="modal" data-action="keydown.esc@window->class-modal#close click->class-modal#close:self">
                                        <div class="modal-box relative flex flex-col gap-2 max-h-[80vh]">
                                            <button aria-label="{{ "common.close"|trans }}" type="button" class="btn-sm btn-circle btn absolute right-2 top-2" data-action="click->class-modal#close">
                                                {% include "icon/x-mark.html.twig" %}
                                            </button>
                                            <h3 class="text-lg font-bold">
                                                {{ "common.global_search"|trans }}
                                            </h3>
                                            {{ component('global_search') }}
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="lg:flex gap-2 hidden">
                                {# Links #}
                            </div>
                        </div>
                        <div class="navbar-center">
                            <a class="btn btn-primary h-full normal-case text-xl lg:text-2xl" href="{{ path("app_homepage") }}">
                                {{ "common.app_name"|trans }}
                                {% include "icon/logo.html.twig" %}
                            </a>
                        </div>
                        <div class="navbar-end gap-0.5 lg:gap-4">
                            <div class="tooltip tooltip-bottom" data-tip="{{ 'common.switch_theme'|trans }}">
                                {% component button with {
                                    circle: true,
                                    centered: false,
                                    ariaLabel: "common.switch_theme"|trans,
                                    href: path('app_change_theme'),
                                    additionalProps: { role: "button" }
                                } %}
                                    {% block content %}
                                        <label class="swap swap-rotate swap-active">
                                            <svg data-theme-target="light" class="{{ isLight ? 'swap-on' : 'swap-off' }} fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                                            <svg data-theme-target="dark" class="{{ isLight ? 'swap-off' : 'swap-on' }} fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                                        </label>
                                    {% endblock %}
                                {% endcomponent %}
                            </div>
                            <div class="dropdown dropdown-end">
                                <label tabindex="0" class="btn btn-primary btn-circle text-white">
                                    {% include "icon/plus.html.twig" %}
                                </label>
                                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                    {# Links #}
                                </ul>
                            </div>
                            <div class="hidden lg:block">
                                {% include "common/_locale_switcher.html.twig" only %}
                            </div>
                            <nav id="navbar-user-dropdown">
                                {% include "common/_user_dropdown.html.twig" with { permanent: true } only %}
                            </nav>
                        </div>
                    </nav>
                {% endblock %}

                {% block main %}
                    <main class="container px-2 md:px-1 mx-auto flex grow flex-col gap-10 py-10">
                        {% block steps %}{% endblock %}

                        {% if block('main_title') %}
                            <h1 class="text-center text-4xl">
                                {% block main_title %}{% endblock %}
                            </h1>
                        {% endif %}
                        {% block main_body %}{% endblock %}
                    </main>
                {% endblock %}

                {% block footer %}
                    <noscript class="mx-auto my-4 max-w-fit px-2">
                        <div class="alert alert-warning shadow-lg">
                            <div>
                                <div class="min-w-fit">
                                    {% include "icon/warning.html.twig" only %}
                                </div>
                                <span>{{ "common.no_script_message"|trans }}</span>
                            </div>
                        </div>
                    </noscript>
                    <footer class="footer bg-base-300 p-10 text-base-content">
                        <div class="flex items-center">
                            <svg class="h-6 w-6 lg:h-10 lg:w-10" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.000000 200.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
                                    <path d="M694 1891 c-17 -5 -40 -14 -51 -22 -11 -8 -118 -128 -237 -268 -147
                            -174 -216 -262 -216 -278 0 -36 40 -54 213 -96 l156 -39 -49 -59 c-30 -36 -50
                            -70 -50 -85 0 -32 43 -58 123 -74 34 -7 65 -15 70 -17 4 -2 -9 -25 -29 -49
                            l-37 -45 17 -267 c19 -279 24 -303 69 -322 12 -6 152 -44 310 -85 315 -82 384
                            -91 430 -55 39 31 379 529 388 569 5 20 9 145 9 278 0 268 1 263 -68 283 -20
                            5 -41 10 -47 10 -5 0 -27 5 -47 10 l-38 11 45 61 c25 34 45 68 45 74 0 7 -11
                            22 -25 33 -24 18 -68 30 -272 76 l-73 16 40 54 c60 81 67 101 45 125 -9 10
                            -31 24 -49 29 -39 13 -620 141 -632 140 -5 -1 -23 -4 -40 -8z m343 -120 c149
                            -33 274 -61 277 -61 3 0 6 -4 6 -9 0 -16 -368 -518 -383 -524 -15 -6 -616 140
                            -630 153 -8 7 66 99 311 388 84 100 109 123 126 119 11 -2 143 -32 293 -66z
                            m414 -311 c73 -17 135 -32 137 -35 2 -2 -80 -121 -184 -264 -157 -218 -192
                            -261 -212 -261 -25 0 -583 134 -614 148 -15 6 -11 15 30 61 l48 54 115 -28
                            c131 -33 190 -36 237 -11 22 11 70 71 155 191 71 102 129 174 138 175 9 0 77
                            -14 150 -30z m213 -243 l48 -12 -177 -235 c-97 -129 -185 -243 -195 -253 -17
                            -18 -27 -17 -329 54 -171 41 -311 78 -311 84 1 18 49 65 67 65 10 0 101 -20
                            202 -45 192 -47 264 -54 309 -31 16 8 81 91 157 200 143 204 132 196 229 173z" />
                                </g>
                            </svg>
                            <p>{{ "common.app_name"|trans }} - {{ "now"|date("Y") }}</p>
                        </div>
                        <div>
                            <span class="footer-title">{{ "common.app_name"|trans }}</span>
                            <a class="link-hover link" href="{{ path("app_about_us") }}">{{ "page.about_us.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_contact") }}">{{ "page.contact.title"|trans }}</a>
                        </div>
                        <div>
                            <span class="footer-title">{{ "common.legal"|trans }}</span>
                            <a class="link-hover link" href="{{ path("app_terms_of_use") }}">{{ "page.terms_of_use.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_privacy_policy") }}">{{ "page.privacy_policy.title"|trans }}</a>
                            <a class="link-hover link" href="{{ path("app_cookie_policy") }}">{{ "page.cookie_policy.title"|trans }}</a>
                        </div>
                    </footer>
                {% endblock %}
            </div>

            {# Mobile menu button #}
            <label for="mobile-drawer" class="btn-primary drawer-button btn absolute top-2 left-2 shadow-lg lg:hidden">
                {% include "icon/menu.html.twig" %}
            </label>

            {# Drawer content #}
            <div class="drawer-side">
                <label for="mobile-drawer" class="drawer-overlay"></label>
                <div class="menu w-80 bg-base-100 p-4 text-base-content flex flex-col gap-4 overflow-y-auto">
                    <form action="{{ path("app_search") }}" method="get">
                        <div class="input-group">
                            <input type="search"
                                name="q"
                                placeholder="{{ "common.search"|trans }}..."
                                class="input-bordered input w-0 grow"
                                aria-label="{{ "common.search"|trans }}"
                            />
                            {{ component("button", { icon: "search", square: true, submit: true, class: "rounded-l-none", ariaLabel: "common.global_search"|trans }) }}
                        </div>
                    </form>

                    <div class="form-control">
                        {% component dropdown with { alignRight: false } %}
                            {% block button %}
                                {{ component('button', { content: app.request.locale|locale_name(app.request.locale), centered: false }) }}
                            {% endblock %}

                            {% block items %}
                                {% for locale in enabled_locales %}
                                    <li>
                                        <a href="{{ path(app.current_route ?? "app_homepage", (app.current_route_parameters ?? [])|merge({ _locale: locale })) }}">
                                            {{ locale|locale_name(app.request.locale)|title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endblock %}
                        {% endcomponent %}
                    </div>

                    <div class="flex flex-col w-max">
                        {# Links #}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
