<div {{ stimulus_controller("notification") }}
    data-notification-delay-value="5000"
    data-transition-enter-from="opacity-0 translate-y-10"
    data-transition-enter-to="opacity-100 translate-y-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-0"
    class="alert-{{ type }} alert hidden transform flex-row items-center shadow-lg transition duration-1000"
    role="alert">
    <span>
        {{ component('icon', { icon: '#{type}' }) }}
    </span>

    <span>{{ message }}</span>
    <button class="ml-auto" data-action="notification#hide" aria-label="{{ "common.close"|trans }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>
