{% set tag = button ? "button" : "a" %}

<button
    class="{{ class }} text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    {% if button %}
        type="{{ submit ? "submit" : "button" }}"
        {% if form %}form="{{ form }}"{% endif %}
    {% else %}
        href="{{ href }}"
        {% if target %}target="{{ target }}"{% endif %}
        {% if externalLink %}
            rel="external noopener noreferrer"
        {% endif %}
    {% endif %}
    {% if id %}id="{{ id }}"{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if ariaLabel %}aria-label="{{ ariaLabel }}"{% endif %}
    {% for key, prop in additionalProps %}
        {{ key }}="{{ prop }}"
    {% endfor %}
    {{ attributes }}
>
    {% if icon or content %}
        {% if icon and iconPosition == "left" %}
            {{ component('icon', { icon }) }}
        {% endif %}
        {{ content }}
        {% if icon and iconPosition == "right" %}
            {{ component('icon', { icon }) }}
        {% endif %}
    {% else %}
        {% block content %}

        {% endblock %}
    {% endif %}
</button>
