<button class="
        btn-{{ variant }}
        btn
        {{ circle ? "btn-circle" }}
        {{ ghost ? "btn-ghost" }}
        {{ centered ? "mx-auto block" }}
        {{
    square
        ? "btn-square"
    }}
        {{ class }}
    "
    type="{{ submit ? "submit" : "button" }}">
    {{ content }}
</button>
