<label for="{{ id }}" class="btn-outline btn-error btn">{{ deleteLabel }}</label>

<input type="checkbox" id="{{ id }}" class="modal-toggle" />
<label class="modal modal-bottom cursor-pointer sm:modal-middle" for="{{ id }}">
    <label class="modal-box relative" for="">
        <form method="post" action="{{ action }}" {{ stimulus_controller("input-prompt") }} data-input-prompt-prompt-value="{{ prompt }}" data-input-prompt-button-selector-value="#input-prompt-button">
            {% block body %}
                {% block title %}
                    <h3 class="text-lg font-bold">
                        {{ title }}
                    </h3>
                {% endblock %}
                {% block content %}
                    <p class="py-4">
                        <span>{{ content }}</span>
                        {% if warningMessage %}
                            <strong class="text-red-700">{{ warningMessage }}</strong>
                        {% endif %}
                    </p>
                {% endblock %}
            {% endblock %}
            {% if prompt %}
                <div class="form-control">
                    <label for="input-prompt" class="label"><span class="label-text">{{ "component.deletion_prompt_modal.label"|trans({ prompt }) }}</span></label>
                    <input data-action="input->input-prompt#onInput" type="text" name="input" id="input-prompt" class="input-bordered input w-full" required />
                </div>
            {% endif %}
            {% if token %}
                <input type="hidden" name="_token" value="{{ token }}" />
            {% endif %}
            <div class="modal-action">
                <label for="{{ id }}" class="btn-success btn">{{ closeLabel }}</label>
                <button id="input-prompt-button" type="submit" class="btn-error btn">{{ deleteLabel }}</button>
            </div>
        </form>
    </label>
</label>
