{% set padding = 2 %}

{% if pages > 1 %}
    <div class="btn-group mx-auto">
        {% if page != 1 %}
            <a class="btn" href="{{ path(path.route, path.params|merge({ (path.pageParam): 1 })) }}" aria-label="{{ "common.first_page"|trans({ number: 1 }) }}">
                {{ component('icon', { icon: 'chevron_double_left' }) }}
            </a>
            <a class="btn" href="{{ path(path.route, path.params|merge({ (path.pageParam): page - 1 })) }}" aria-label="{{ "common.previous_page"|trans({ number: page - 1 }) }}">
                {{ component('icon', { icon: 'chevron_left' }) }}
            </a>
        {% endif %}

        {% for p in page - padding..page - 1 %}
            {% if p > 0 and pages - page <= 2 %}
                <a class="btn rounded-none" href="{{ path(path.route, path.params|merge({ (path.pageParam): p })) }}" aria-label="{{ "common.page_number"|trans({ number: p }) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% for p in page..page + padding %}
            {% if p < pages %}
                {% if p != page %}
                    <a class="btn rounded-none" href="{{ path(path.route, path.params|merge({ (path.pageParam): p })) }}" aria-label="{{ "common.page_number"|trans({ number: p }) }}">{{ p }}</a>
                {% else %}
                    <span class="btn-active btn pointer-events-none rounded-none" aria-label="{{ "common.current_page"|trans({ number: p }) }}">{{ p }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if pages - page > 2 %}
            <span class="btn pointer-events-none rounded-none">...</span>
        {% endif %}

        {% if page != pages %}
            <a class="btn rounded-none" href="{{ path(path.route, path.params|merge({ (path.pageParam): pages })) }}" aria-label="{{ "common.page_number"|trans({ number: pages }) }}">{{ pages }}</a>
        {% else %}
            <span class="btn-active btn pointer-events-none rounded-none" aria-label="{{ "common.current_page"|trans({ number: page }) }}">{{ page }}</span>
        {% endif %}

        {% if page < pages %}
            <a class="btn rounded-none" href="{{ path(path.route, path.params|merge({ (path.pageParam): page + 1 })) }}" aria-label="{{ "common.next_page"|trans({ number: page + 1 }) }}">
                {{ component('icon', { icon: 'chevron_right' }) }}
            </a>
            <a class="btn rounded-none" href="{{ path(path.route, path.params|merge({ (path.pageParam): pages })) }}" aria-label="{{ "common.last_page"|trans({ number: pages }) }}">
                {{ component('icon', { icon: 'chevron_double_right' }) }}
            </a>
        {% endif %}
    </div>
{% endif %}
