{% trans_default_domain "tables" %}

<div class="relative overflow-x-auto w-full">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for key, col in config.cols %}
                    <th scope="col" class="px-6 py-3">
                        {% if col.queryKey is defined %}
                            {{ knp_pagination_sortable(
                                config.pagination,
                                col.label,
                                col.queryKey,
                                {},
                                {},
                                'knp_custom/paginator_sortable.html.twig'
                            )}}
                        {% else %}
                            {% if key == 'actions' %}
                                {{ "common.actions"|trans }}
                            {% else %}
                                {{ col.label|upper }}
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in config.pagination %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    {% for key, col in config.cols %}
                        {% if col.queryKey is defined %}
                            {{ component(col.type, { config: { item: value, col, value: get_property(value, key) } }) }}
                        {% else %}
                            {% if key == 'actions' %}
                                {{ component(key, { config: { actions: col, value } }) }}
                            {% else %}
                                {{ component(col.type, { config: { col } }) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="text-center px-6 py-4" colspan="{{ config.cols|length }}">
                        {{ "common.empty"|trans }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
