<td class="flex items-center justify-center">
  {% for key, action in config.actions %}
    {% if action.validation is defined %}
      <label 
        data-action="click->table#action"
        for="action-modal" class="btn btn-{{ key }} ml-1" 
        data-route="{{ path(action.route, { id: config.value }) }}" 
        data-message="{{ action.validation.message|trans({}, 'table+intl-icu') }}"
      >
        {% include 'icon/' ~ action.icon ~ '.html.twig' %}
      </label>
    {% else %}
      <a class="btn btn-{{ key }} ml-1" href="{{ path(action.route, { id: config.value }) }}">
        {% include 'icon/' ~ action.icon ~ '.html.twig' %}
      </a>
    {% endif %}
  {% endfor %}
</td>