<td class="flex gap-2">
    {% for key, action in config.actions %}
        {% if action.validation is defined %}
            <label data-action="click->table#action"
                for="action-modal"
                class="btn-{{ key }} btn-square btn"
                data-route="{{ path(action.route, { id: config.value }) }}"
                data-message="{{ action.validation.message|trans({}, "table+intl-icu") }}">
                {% include "icon/#{action.icon}.html.twig" %}
            </label>
        {% else %}
            <a aria-label="{{ action.icon }}" href="{{ path(action.route, { id: config.value }) }}">{{ component("button", { icon: action.icon, square: true, variant: key }) }}</a>
        {% endif %}
    {% endfor %}
</td>
