<!DOCTYPE html>
<html lang="{{ locale|default("en") }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{ title|default("") }}
        </title>
        <meta name="description" content="{{ description|default("") }}" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="min-w-screen flex min-h-screen items-center justify-center bg-blue-100 p-5">
            <div class="max-w-xl rounded-3xl bg-white p-8 text-center text-gray-800 shadow-xl lg:max-w-3xl lg:p-12">
                <h1 class="text-2xl">
                    {% block title %}
                        {% if title is defined %}
                            {{ title }}
                        {% endif %}
                    {% endblock %}
                </h1>
                <div class="flex justify-center">
                    {% block icon %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-green-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1"
                                d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                        </svg>
                    {% endblock %}
                </div>
                <p>
                    {% block main %}

                    {% endblock %}
                </p>
                <div class="mt-4">
                    {% block button %}
                        {% if button_link is defined and button_text is defined %}
                            <a href="{{ button_link }}" class="btn-accent btn-active btn text-white">{{ button_text }}</a>
                        {% endif %}
                    {% endblock %}
                    <p class="mt-4 text-sm">
                        {% block bottom_text %}
                            {{ "default.bottom_text"|trans({}, "email", locale) }}
                        {% endblock %}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
